html,body{
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

H1 {
    font-size: 20px;
}
.card {
    border-style: none ;
    border-width: 4px;
    border-radius: 12px;
    border-color: rgba(0,0,0,0);
    min-width: 30%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    font-size: 20px;
}

.card button{
    box-shadow: 10px 10px;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.card input {
    margin: 10px;
}

.card button{
    background-color: rgb(0, 81, 255);
    color: white;
    border-color: white;
    margin: 10px;
}

